################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SimpleStateMachine/bin
/SimpleStateMachine/obj
/SimpleStateMachine.Console/bin
/SimpleStateMachine.Console/obj
/publish_nuget.cmd
/SimpleStateMachine.Extensions/bin
/SimpleStateMachine.Extensions/obj
